<footer>
  <div class="containaer-xxl overflow-hidden custombg">
    <div class="row">
      <div class="d-flex justify-content-center gap-5 p-4">
        <a href="">About</a>
        <a href="">Contact</a>
        <a href="">Faq</a>
        <a href="">Careers</a>
      </div>
      <div style="border-bottom: 3px solid #97bea9;"></div>
      <p class="text-center p-3">"Connect, share, and celebrate the love for your pets. <i class="fa-solid fa-paw"></i> Because they also deserve their special place!"</p>
      <a class="navbar-brand d-flex justify-content-center" href="/"><i class="fa-solid fa-feather-pointed fs-1"></i></a>
      <div class="d-flex justify-content-center gap-4 p-4">
        <a href="https://x.com/i/flow/login?redirect_after_login=%2Fsocratech_"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.instagram.com/socratechescuela/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/people/SocraTech/100069695526890/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.youtube.com/c/Socratech"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div style="border-bottom: 3px solid #97bea9;"></div>
      <div>
        <p class="text-center m-0 p-4" style="color: #fdeecf;"><i class="fa-regular fa-copyright"></i> 2024 Socratech</p>
      </div>
    </div>
  </div>
</footer>
