<nav class="navbar navbar-expand-md m-0 p-0 sticky">
    <div class="container-fluid custombg p-2">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-feather-pointed fs-2" style="color: #fdeecf;"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" style="border: 1px solid #fdeecf;" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color: #fdeecfa9;"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fw-bold fs-6 navbutton" style="border: 2px solid #fdeecf; border-radius: 20px; margin-inline: 1rem;" href="/user/allUsers">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-6 navbutton" style="border: 2px solid #fdeecf; border-radius: 20px; margin-inline: 1rem;" href="/pet/allPets">Pets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-6 navbutton" style="border: 2px solid #fdeecf; border-radius: 20px; margin-inline: 1rem;" href="/pet/addPet">Add Pet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-6 navbutton" style="border: 2px solid #fdeecf; border-radius: 20px; margin-inline: 1rem;" href="/user/addUser">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-6 navbutton" style="border: 2px solid #fdeecf; border-radius: 20px; margin-inline: 1rem;" href="/user/login">Login</a>
          </li>
        </ul>
        <form class="d-flex justify-content-end" action="/" method="post" enctype="application/x-www-form-urlencoded">
          <input class="form-control me-2 fw-bold" type="search" aria-label="Search" style="color: #37260c; background-color: #fdeecf;" name="text">
          <button class="nav-link fw-bold fs-6 navbutton" style="border: 2px solid #fdeecf; border-radius: 20px; margin-inline: 1rem; padding: 0.4rem;" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>