:root {
  --color1: #ffcdb8;
  --color2: #fdeecf;
  --color3: #c8c696;
  --color4: #97bea9;
  --color5: #37260cda;
}

h1 {
  padding-block: 1rem;
}
.imghover {

  &:hover {
    scale: 1.3;
  }
}

.meetbutton {
  color: var(--color5);
  margin-bottom: 3rem;
  &:hover {
    scale: 0.9;
    color: var(--color5);
    background-color: var(--color4);
  }
}

label {
  color: var(--color5);
}

input {
  background-color: var(--color2);
}
